# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg
dist/

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
*.bsp
*.tf
*.bpc
*.tpc
*.tls
